html, body {
  height: 100%;
}
body {
  max-width: 720px;
  margin: auto;
  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;
/*  color: #444;*/
}
a {
  color: black;
}
nav > a {
  margin: 0px 5px;
}
a#blogname {
  text-decoration: none;
}
ul.entries {
  list-style-type: none;
  padding: 0px;
}
small.date {
/*  padding-right: 5px;*/
  padding-right: 0.5ch;
}
header {
  padding-top: 10px;
}
nav {
  display: flex;
  flex-direction: row;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.figure {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption {
  margin: 0px;
}
img {
  max-width: 100%
}
